@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

/* 中央寄せ */
.container {
display: flex;
flex-direction: column;
align-items: center;
}

/* 背景 */
body {
background-image: url("./images/bg_sky_shiwamoco");
background-size: 60px 60px;
background-repeat: repeat;
background-position: top left;
}

/* タイトルのサイズ調整 */
.title img{
  width: 20vw;　　　　/* 画面の横に対してx% */
  height: auto;
}
.please {
  font-family: "Kiwi Maru", serif;
}

.daemon img{
  width: 20vw;
  height: auto;
}

/* フッター */
footer {
  display: flex;
  bottom: 0;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.8em;
}


  
  
