/* 中央寄せ */
.container {
display: flex;
flex-direction: column;
align-items: center;
}

/* 背景 */
body {
background-image: url("./images/bg_sky_shiwamoco");
background-size: 60px 60px;
background-repeat: repeat;
background-position: top left;
}

/* タイトルのサイズ調整 */
.title img{
  width: 20vw;　　　　/* 画面の横に対してx% */
  height: auto;
}

/* タイトルh1とpの間隔調整 */
h1, p {
margin: 0;
}

.subtitle {
  margin-top: -4px;
}




  
  
