.container {
display: flex;
flex-direction: column;
align-items: center;
}

h1, p {
margin: 0;
}

body {
background-image: url("./images/bg_sky_shiwamoco");
background-size: 60px 60px;
background-repeat: repeat;
background-position: top left;
}

.title img{
  width: 20vw;
  height: auto;
}
  
  
