/* 中央寄せ */
.container {
display: flex;
flex-direction: column;
align-items: center;
}

/* 背景 */
body {
background-image: url("./images/bg_sky_shiwamoco");
background-size: 60px 60px;
background-repeat: repeat;
background-position: top left;
}

/* タイトルのサイズ調整 */
.title img{
  width: 20vw;　　　　/* 画面の横に対してx% */
  height: auto;
}

.daemon img{
  width: 20vw;
  height: auto;
}

/* フッター */
footer {
  display: flex;
  position: fixed; /*　画面に固定　*/
  bottom: 0;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  width: 100vw;
}


  
  
