.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
}

body {
background-image: url("./images/bg_sky_shiwamoco");
background-size: 30px 30px;
background-repeat: repeat;
background-position: top left;
}
