/* 中央寄せ */
.container {
display: flex;
flex-direction: column;
align-items: center;
}

/* 背景 */
body {
background-image: url("./images/bg_sky_shiwamoco");
background-size: 60px 60px;
background-repeat: repeat;
background-position: top left;
}

/* タイトルのサイズ調整 */
.title img{
  width: 20vw;　　　　/* 画面の横に対してx% */
  height: auto;
}

.daemon img{
  width: 10vw;
  height: auto;
}

/* フッター */
footer {
  color: #8fbae0;
}


  
  
